{% load staticfiles %}

<html>
    <head>
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Concert Contests</title>
		
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-82384632-1', 'auto');
			ga('send', 'pageview');

		</script>
    </head>
    <body>
        <div class="mainhead">
		<header>
            <p class="headtitle"><b>Concert Contests</b></p>
			<p class="subtitle">Win Music Concert Tickets in Toronto!<p>
		</header>
        </div>
		
		<div class="blogpost">
			<h1>About Us</h1>
		
			<p>Concert Contests is a FREE music contest aggregator. Our goal is to help you win tickets to live music shows in Toronto and the surrounding areas. All of the contests you see are active!<br><br>
			Feel free to contact us with your comments about the website, suggestions or even to tell us about a contest via email at <b>contact@concertcontests.net</b>
			</p>
		</div>
		<div class="aboutus">
			<h2><a href= {{ '/' }} >Back to Concert Contets</a></h2>
		</div>
    </body>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-82384632-1', 'auto');
	  ga('send', 'pageview');

	</script>
</html>