{% load staticfiles %}

<html>
    <head>
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Concert Contests</title>
    </head>
    <body>
        <div class="mainhead">
		<header>
            <p class="headtitle"><b>Concert Contests</b></p>
			<p class="subtitle">Win Music Concert Tickets in Toronto!<p>
		</header>
        </div>
		
		<div class="blogpost">
			<h1>About Us</h1>
		
			<p>Concert Contests is a FREE music contest aggregator. Our goal is to help you win tickets to live music shows in Toronto and the surrounding areas. All of the contests you see are active!<br><br>
			Feel free to contact us with your comments about the website, suggestions or even to tell us about a contest via email at <b>concertcontests@gmail.com</b>
			</p>
		</div>
		<div class="aboutus">
			<h2><a href= {{ '/' }} >Back to Concert Contets</a></h2>
		</div>
    </body>
</html>