{% load staticfiles %}

<html>
    <head>
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Concert Contests</title>
		
		<meta name="description" content="Concert Contests is a music concert contest aggregator. Use this site to win concert tickets! Toronto only for now. More cities coming soon!">
		
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-82384632-1', 'auto');
			ga('send', 'pageview');

		</script>
    </head>
    <body>
		<a class="headlink" href= {{ '/' }} >
			<div class="mainhead">
			<header>
				<p class="headtitle"><b>Concert Contests</b></p>
				<p class="subtitle">Win Music Concert Tickets in Toronto!<p>
			</header>
			</div>
		</a>
		
		{% if features %}
			<div class="featurehead">
				<h1>Featured</h1>
			</div>
		{% endif %}
		
		{% for feature in features %}
			<div class="featured">
				<h2><a href= {{ feature.contestlink }}>{{ feature.title }}</a></h2>
				<!-- <p>{{ feature.text|linebreaksbr }}</p> mehbehh tomorrrrro -->
				<ul>
					<li><b>Hosted By: </b> {{ feature.host }} </li>
					<li><b>Artists: </b> {{ feature.artist }} </li>
					<li><b>Venue: </b> {{ feature.venue }} </li>
					<li><b>Event Date: </b> {{ feature.concertday }} </li>
					<li><b>Ages: </b> {{ feature.ages }} </li>
					<li><b>Entry Method: </b> {{ feature.entrymethod }} </li>
					<li><b>Expires: </b>{{ feature.expires }}</li>
				</ul>
			</div>
		{% endfor %}
		
		{% if posts %}
			<div class="contesthead">
				<h1>Contests</h1>
			</div>
		{% endif %}
		
        {% for post in posts %}
			{% if post.featured == 0 %}
				<div class="blogpost">
					<h2><a href= {{ post.contestlink }}>{{ post.title }}</a></h2>
					<!-- <p>{{ feature.text|linebreaksbr }}</p> mehbehh tomorrrrro -->
					<ul>
						<li><b>Hosted By: </b> {{ post.host }} </li>
						<li><b>Artists: </b> {{ post.artist }} </li>
						<li><b>Venue: </b> {{ post.venue }} </li>
						<li><b>Event Date: </b> {{ post.concertday }} </li>
						<li><b>Ages: </b> {{ post.ages }} </li>
						<li><b>Entry Method: </b> {{ post.entrymethod }} </li>
						<li><b>Expires: </b>{{ post.expires }}</li>
					</ul>
				</div>
			{% endif %}
		{% endfor %}
		<div class="aboutus">
			<h2><a href= {{ 'about' }} >About Us</a></h2>
		</div>
    </body>
</html>