.mainhead {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
	background-color: #FAD396;
	margin-bottom: 7px;
	border: 2px solid #000000;
}

.mainhead > * {
    padding: 0px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.aboutus {
	background-color: #FAD396; /* B5CCFF */
	border: 2px solid #000000;
	padding:0px 5px 5px 5px;
	text-align: center;
	margin-bottom: 7px;
	width: 60%;
	text-decoration:none;
}

.aboutus a{color: #000000; text-decoration: none;}
.aboutus a:visited{color: #000000; text-decoration: none;}
.aboutus a:hover{cursor:hand;}


.subtitle{
	margin-top:0;
	padding-top:0;
	font-size: 18px;
}

.headtitle{
	font-size: 35px;
	margin-bottom: 0;
	padding-bottom:0;
	margin-top:20px;
}


.contesthead {
	position: relative;
	width: 60%;
	height:4%;
	padding:5px;
    text-align: center;
	background-color: #6697FA; /* 346BD9 */
	margin-bottom: 7px;
	border: 2px solid #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.featurehead {
	position: relative;
	vertical-align:middle;
	line-height:0px;
	width: 60%;
	height:4%;
	padding:5px;
    text-align: center;
	background-color: #FF5252; /* F73C3C */
	margin-bottom: 7px;
	border: 2px solid #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}


.blogpost{
	background-color: #AEC8FF; /* B5CCFF */
	border: 2px solid #000000;
	padding:0px 5px 5px 5px;
	text-align: center;
	margin-bottom: 7px;
	width: 60%;
}

.blogpost h2{
	margin: 5px !important;
	text-align: center;
}

.blogpost p{
	margin: 0 !important;
	text-align: left;
}

.blogpost ul{
	margin: 0 !important;
	text-align: left;
	list-style-type:none;
	padding-left:0;
}

.blogpost ul li{
	margin: 0 !important;
	text-align: left;
	list-style-type:none;
	padding-left:0;
}


.featured {
	background-color: #FA9797;
	border: 2px solid #000000;
	padding:0px 5px 5px 5px;
	text-align: center;
	margin-bottom: 7px;
	width: 60%;
}

.featured h2{
	margin: 5px !important;
	text-align: center;
}

.featured p{
	margin: 0 !important;
	text-align: left;
}

.featured ul{
	margin: 0 !important;
	text-align: left;
	list-style-type:none;
	padding-left:0;
}

.featured ul li{
	margin: 0 !important;
	text-align: left;
	list-style-type:none;
	padding-left:0;
}

body {
	background: #DEECE3;
	font-family: Verdan, Tahoma, Arial, sans-serif;
	font-size: 16px;
	overflow: auto;
}



@media only screen and (max-device-height: 420px) {
	h2{
		font-size:150%;
	}
	
	body {
		font-size:150%;
	}
	
	.mainhead{
		font-size: 150%;
	}
	
	.featurehead h1{
		font-size: 100%;
	}
	
	.contesthead h1{
		font-size: 100%;
	}
	
	.headtitle{
		font-size:150%;
	}
	
	.subtitle{
		font-size:100%;
	}
}

@media only screen and (max-device-width: 420px) {
	h2{
		font-size:160%;
	}
	
	body {
		font-size:150%;
	}
	
	.mainhead{
		font-size: 150%;
	}
	
	.featurehead{
		font-size: 100%;
	}
	
	.contesthead{
		font-size: 100%;
	}
	
	.headtitle{
		font-size:150%;
	}
	
	.subtitle{
		font-size:100%;
	}
}